<div ng-controller="updateUserController as uuc">
    <h1>Edit User</h1>
    <form id="EditUserForm" name="EditUserForm" class="form-horizontal" role="form"
          ng-submit="updateUser()">
        <legend class="sm-col-12">Basic Information</legend>

        <div class="form-group">
            <label id="nameLbl" for="name" class="col-sm-2 control-label">Name: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="name" placeholder=""
                       ng-model="user.name">
            </div>
        </div>

        <div class="form-group">
            <label id="ageLbl" for="age" class="col-sm-2 control-label">Age: </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="age" id="age" placeholder=""
                       ng-model="user.age" crud-age max="100" min="3"s>
            </div>
        </div>

        <div class="form-group">
            <label id="emailLbl" for="email" class="col-sm-2 control-label"
                   is-required="CreateUserForm.age">Email: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="email" id="email"
                       ng-model="user.email">
            </div>
        </div>

        <pre>{{ user | json }}</pre>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ng-href="/#/users/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" class="btn btn-success" id="btn_save">Save</button>
            </div>
        </div>
    </form>
</div>
