<div ng-controller="userController as usrCtrl">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary btn-lg">
                Add new user
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8"> 
            <h2>List of users</h2>
        </div>
        <div class="col-sm-4">
            <input class="form-control input-lg"
                    placeholder="Search"
                    ng-model="seachUser"/>
        </div>
    </div>
    <div class="row" ng-repeat="usr in usrCtrl.users | filter:seachUser" ng-class="{oddRow: $index % 2 == 0}"> <!-- add each user here  repeat for each user-->
        <div class="col-sm-8">
            <h4>{{usr.name}} {{usr.age}} {{usr.email}} {{$index}}</h4>
        </div>
        <div class="col-sm-4" style="margin-top: 5px;">
            <div class="pull-right">
                <button class="btn btn-warning btn-sm">
                    Edit
                </button>
                <button class="btn btn-danger btn-sm">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>