<div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary btn-lg" ng-click="redirectCreateUser()">
              Add new user
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h2>List of users</h2>
        </div>
        <div class="col-sm-4">
            <input class="form-control input-lg"
                    placeholder="Search"
                    ng-model="seachUser"/>
        </div>
    </div>
    <div class="row" ng-show="isLoading()">
        <div class="col-sm-12">
            <img src="assets/images/progressring.gif" alt="Loading" width="30px" height="30px" />
            Loading...
        </div>
    </div>
    <div class="row" ng-repeat="usr in users | filter:seachUser"
         ng-class="{oddRow: $index % 2 == 0}"> <!-- add each user here  repeat for each user-->
        <div class="col-sm-8">
            <h4>{{usr.name}} | {{usr.age}} | {{usr.email}} | <span ng-class="{'label label-success': usr.state == 'Enabled', 'label label-danger': usr.state == 'Disabled'}">{{usr.state}}</span></h4>
        </div>
        <div class="col-sm-4" style="margin-top: 5px;" ng-show="isInReadMode(usr._id.$oid)">
            <div class="pull-right">
                <button class="btn btn-warning btn-sm" ng-click="redirectEditUser(usr._id.$oid)">
                    Edit
                </button>
                <button class="btn btn-danger btn-sm" ng-click="startRemove(usr._id.$oid)">
                    Delete
                </button>
            </div>
        </div>
        <div class="col-sm-4" style="margin-top: 5px;" ng-show="isInRemoveMode(usr._id.$oid)">
            <div class="pull-right">
                <button class="btn btn-success btn-sm" ng-click="remove(usr._id.$oid)">
                    Confirm
                </button>
                <button class="btn btn-danger btn-sm" ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
